@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "JDBasePage.cshtml";
}
@section MainBody
{
<div class="page-header">

@{




    var publishedDate=CurrentPage.CreateDate;
    if (CurrentPage.HasProperty("publishedDate")&&CurrentPage.GetValue("writtenDate") != null)
    {
        var overridePublishedDate = (DateTime)CurrentPage.GetPropertyValue("publishedDate");
        if (overridePublishedDate.Year > 2000)
        {
            publishedDate = overridePublishedDate;
        }
    }
	<p><b>@publishedDate.ToString("D")</b></p>	
}
	<h1>@Umbraco.Field("pageName")</h1>
	@Umbraco.Field("content")


    @Html.Action("DisplayCommentForm","BlogSurface")


    @if (Model.Content.Children("jDBlogPostComment").Count() > 0)
    {
    <h2>Comments</h2>
        foreach (var comment in Model.Content.Children("jDBlogPostComment"))
        {
        <p>@comment.GetPropertyValue("commentText")</p>
        <p>@comment.GetPropertyValue("commenterName")  @comment.CreateDate</p>
        }
    }
</div>
}